@import 'fonts.css';
*{
  text-decoration: none;
  font-family: 'din pro';
  font-weight: 400;
}
/* icons */
*::before,
*::after{
  font-family: 'icons';
}
.icon-cart::before{content: '\f07a'; font-weight: 300;}
.icon-clock::before{content: '\f017'; font-weight: 300;}
.icon-search::before{content: '\f002'; font-weight: 300;}
.icon-marker::before{content: '\f3c5'; font-weight: 300;}
.icon-arr-left::before{content: '\f053'; font-weight: 300;}
.icon-arr-right::before{content: '\f054'; font-weight: 300;}
.icon-arr-down::before{content: '\f078'; font-weight: 300;}
.icon-telegram::before{content: '\f3fe'; font-weight: 400;}
.icon-instagram::before{content: '\f16d'; font-weight: 400;}
.icon-whatsapp::before{content: '\f232'; font-weight: 400;}
/* root */
:root{
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --red: rgba(235, 87, 87, 1);
  --gray: rgba(164, 172, 173, 1);
  --orange: rgba(255, 152, 70, 1);
  --orangered: rgba(244, 109, 64, 1);
  --telegram: rgba(97, 168, 222, 1);
  --instagram: linear-gradient(49deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
  --whatsapp: rgba(27, 215, 65, 1);
  --bg: rgba(242, 242, 242, 1);
  --shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.09);
}
/* body */
body{
  background: var(--bg);
}
/* navbar */
.navbar{
  border-bottom: 1px solid var(--gray);
  padding: 0;
  width: 100%;
}
.navbar__nav--contacts{
  padding: 7px 18px;
  border-right: 1px solid var(--gray);
  flex-grow: 1;
}
.navbar__nav--contacts h3{
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
}
.navbar__nav--contacts .phone{
  font-size: 18px;
  line-height: 18px;
  color: var(--orange);
  font-weight: 500;
  margin-bottom: 5px;
  margin: 0;
}
.navbar__nav--contacts .time{
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 0;
}
.navbar__nav--contacts .time::before{
  color: var(--orange);
  font-size: 15px;
  margin-right: 5px;
}
.navbar__nav--content{
  flex-grow: 10;
}
.navbar__nav--content .city{
  padding: 12px;
}
.city p{
  margin: 0;
  color: var(--gray);
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.city h3{
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: var(--black);
}
.navbar__nav--navigation{
  display: flex;
  align-items: center;
}
.navbar-logo{
  display: none;
}
.navbar-logo img{
  width: 47px;
  display: flex;
  object-fit: contain;
}
.navbar-btn{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.navbar-btn span{
  width: 100%;
  height: 4px;
  background: var(--orange);
  border-radius: 4px;
}
.navbar-list a{
  padding: 5px;
  display: inline-flex;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
}
.navbar-list a:hover{
  color: var(--orange);
}
.navbar__nav--icons a{
  font-size: 30px;
  color: var(--gray);
  padding: 5px;
  display: inline-flex;
}
.navbar__nav--icons{
  margin-left: 30px;
}
/* navbar-bottom */
.navbar-bottom{
  padding: 11px 0;
  background: var(--white);
  border-top: 1px solid var(--gray);
}
.navbar-bottom a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 17px;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}
.navbar-bottom img{
  height: 30px;
  object-fit: contain;
  display: flex;
}
.navbar-bottom span{
  font-weight: 500;
  margin-top: 3px;
}
.offcanvas-start,
.offcanvas-end{
  width: 320px;
}
.menu__logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 21px 30px;
  border-bottom: 1px solid var(--gray);
}
.menu__logo img{
  width: 100px;
}
.menu__logo span{
  font-family: 'nexa';
  font-weight: 300;
  text-transform: uppercase;
  color: var(--black);
  font-size: 30px;
  line-height: 30px;
}
.menu__list{
  width: 170px;
}
.menu__list img{
  width: 30px;
  margin-right: 20px;
}
.menu__list a{
  margin: 15px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__list span{
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
}
.menu__list a:hover span{
  color: var(--orange);
}
.menu__list a.soon::before,
.categories-card.soon .categories-card__link p::before{
  padding: 3px 8px;
  position: absolute;
  content: 'скоро';
  border-radius: 10px;
  background: var(--red);
  color: var(--white);
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  right: 15px;
  top: -10px;
  font-family: 'din pro';
  font-weight: 400;
}
/* .menu__list a:not(.soon)::before{
  display: none;
} */

.cart-products{
  width: 100%;
  border-radius: 5px;
  background: var(--bg);
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.cart-products h3,
.cart-location h3{
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0;
}
.cart-products__add,
.cart-location__time{
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
  margin: 10px 0 26px;
  display: inline-flex;
}
.cart-products p{
  background: var(--orange);
  color: var(--white);
  padding: 12px 5px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

.cart-location{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg);
  border-radius: 5px;
  overflow: hidden;
}
.cart-location__map{
  width: 100%;
  height: 120px;
  background: var(--black);
}
.cart-location .icon-marker{
  width: 60px;
  height: 60px;
  background: var(--orange);
  border-radius: 50%;
  margin-top: -30px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.cart-location h3{
  margin-top: 8px;
}
.cart-location__time{
  margin: 10px 0 7px;
}
/* header */
.header{
  width: 100%;
  padding: 30px 0;
}
.header .carousel-item{
  height: 600px;
  background: var(--white);
}
.header .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}
.header .carousel-caption{
  color: var(--black);
  right: 0;
  top: 0;
  left: auto;
  width: 50%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}
.carousel-caption__text h3{
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
}
.carousel-caption__text p{
  color: var(--orange);
  font-size: 25px;
}
.carousel-caption__price{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.carousel-caption__price--old,
.carousel-caption__price--new{
  font-weight: 700;
  padding: 10px;
}
.carousel-caption__price--old{
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-caption__price--old::before{
  width: 100%;
  height: 3px;
  background: var(--red);
  position: absolute;
  content: '';
  left: 0;
  transform: rotate(-10deg);
}
.carousel-caption__price--new{
  font-size: 40px;
}
.carousel-caption__btn{
  min-width: 277px;
  padding: 15px;
  background: var(--orangered);
  color: var(--white);
  font-size: 32px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
}
.header .carousel-indicators{
  position: unset;
  align-items: center;
  padding: 10px 0;
}
.header .carousel-indicators li{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  background: var(--gray);
  border: none;
  margin: 0 5px;
}
.header .carousel-indicators li.active{
  width: 15px;
  height: 15px;
  background: var(--orange);
}
/* categories */
.categories{
  padding-top: 30px;
  padding-bottom: 30px;
}
.categories__content{
  row-gap: 30px;
}
.categories-card__link{
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}
.categories-card__link img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-card__link p{
  position: absolute;
  left:0;
  bottom: 0;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  font-weight: 500;
  width: 100%;
  padding: 10px 0 10px 11px;
  display: flex;
  align-items: center;
  margin: 0;
}
.categories-card.soon .categories-card__link p::before{
  right: 10px;
  top: auto;
}
.row.categories__content{
  --bs-gutter-x: 30px
}
/* tabs */
.tabs{
  width: 100%;
  padding: 22px 0 60px;
}
.tabs .nav a{
  padding: 5px 0;
  margin-right: 30px;
  border-bottom: 2px solid var(--gray);
  color: var(--gray);
  font-size: 24px;
  line-height: 25px;
  display: flex;
  font-weight: 500;
}
.tabs .nav a.active{
  color: var(--black);
  border-bottom-color: transparent;
}
.tabs .tab-content{
  padding-top: 30px;
}
.product{
  width: 100%;
  height: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__img{
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.product__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  padding: 17px;
}
.product__content h3{
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 10px;
}
.product__content p{
  font-size: 18px;
  line-height: 22px;
  color: var(--gray);
  margin-bottom: 0;
}
.product__price{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid var(--gray);
  padding: 11px;
}
.product__price span{
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  font-weight: 700;
}
.product__price--btn{
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  padding: 5px;
  min-width: 143px;
  font-weight: 500;
  background: var(--orangered);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.tabs .icon-arr-left,
.tabs .icon-arr-right{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--black);
  color: var(--white);
  top: auto;
  bottom: auto;
  font-size: 30px;
}
.tabs .carousel{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* content */
.content{
  padding-bottom: 60px;
}
.content__text{
  padding-bottom: 42px;
  position: relative;
  color: var(--gray);
}
.content__text h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.content__text p,
.content__text li{
  font-size: 18px;
  line-height: 18px;
}
.content__text::before{
  width: 100%;
  height: 80%;
  position: absolute;
  content: '';
  bottom: 0;
  background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 100%);
}
.content__read-more{
  color: var(--orangered);
  gap: 10px;
  font-size: 24px;
  line-height: 24px;
}
/* footer */
.footer{
  padding-top: 22px;
  border-top: 1px solid var(--gray);
}
.footer-box{
  padding-bottom: 60px;
}
.footer-box:nth-of-type(2){
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}
.footer-box__list a{
  color: var(--black);
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
  display: flex;
}
.footer-box__contacts{
  width: 70%;
}
.footer-box h3,
.footer-box span,
.footer-box p,
.footer-box__phone{
  font-size: 18px;
  line-height: 22px;
}
.footer-box span,
.footer-box p,
.footer-box__phone{
  color: var(--gray);
}
.footer-box h3{
  color: var(--black);
  font-weight: 500;
}
.footer-box__contacts span{
  margin: 10px 0 20px;
  display: inline-flex;
}
.footer-box__phone span{
  text-decoration: underline;
  margin-left: 10px;
}
.footer-box__phone,
.footer-box__adres{
  margin-left: 40px;
}
.footer-box__contacts--social a{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--white);
  opacity: 0.3;
  transition: opacity 0.3s;
}
.footer-box__contacts--social a:hover{
  opacity: 1;
}
.footer-box__contacts--social a.icon-whatsapp{
  background: var(--whatsapp);
}
.footer-box__contacts--social a.icon-telegram{
  background: var(--telegram);
}
.footer-box__contacts--social a.icon-instagram{
  background: var(--instagram);
}
/* products */
.products{
  padding-top: 30px;
  padding-bottom: 170px;
}
.products__items{
  --bs-gutter-x: 30px;
  row-gap: 30px;
}
.products__title{
  margin-bottom: 30px;
  gap: 21px;
}
.products__title img{
  width: 40px;
  object-fit: contain;
}
.products__title span{
  font-size: 36px;
  line-height: 44px;
  color: var(--black);
}
.products__filter{
  position: relative;
  width: 210px;
  
}
.products__filter--toggle{
  background: var(--white);
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 5px 10px;
  height: 61px;
}
.products__filter--toggle span{
  color: var(--gray);
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}
.products__filter--toggle p{
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  flex-grow: 1;
  width: 100%;
}
.products__filter--toggle p.icon-arr-down::before{
  color: var(--orangered);
}
.products__filter--toggle.show{
  border-radius: 15px 15px 0 0;
}
.products__filter--toggle.show p{
  border-bottom-color: var(--gray);
}
.dropdown-menu.show{
  left: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
  transform: translate3d(0, 55px, 0) !important;
  border: none;
  padding: 0 10px;
  width: 100%;
}
.dropdown-menu a{
  padding: 10px 0;
  display: flex;
  color: var(--black);
  font-size: 18px;
  line-height: 22px;
}
.dropdown-menu a:hover{
  color: var(--orangered);
}
/* single */
.single{
  width: 100%;
  background: var(--white);
  margin: 30px 0;
}
.single__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}
.single__content{
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 20px;
}
.single__content--text{
  width: 100%;
}
.single__content--text h2{
  font-size: 48px;
  line-height: 60px;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 5px;
}
.single__content--text p{
  font-size: 18px;
  line-height: 22px;
  color: var(--orange);
  font-weight: 300;
  margin-bottom: 0;
}
.single__content--price{
  gap: 30px;
}
.single-price__value{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}
.single-price__amount{
  gap: 20px;
}
.single-price__amount--symbol{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orangered);
  color: var(--white);
  font-size: 40px;
  line-height: 20px;
  font-family: arial;
  cursor: pointer;
}
.single-price__amount--num{
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  color: var(--black);
}
.single__content--info h5,
.single__content--info p{
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
}
.single__content--info h5{
  font-weight: 500;
  margin-bottom: 5px;
}
.single__content--info p{
  font-weight: 300;
  margin-bottom: 0;
}
.single__content--btn{
  min-width: 188px;
  padding: 5px;
  display: inline-flex;
  border-radius: 5px;
  background: var(--orangered);
  color: var(--white);
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 1399.9px) {}
@media (max-width: 1199.9px) {}
@media (max-width: 991.9px) {}
@media (max-width: 767.9px) {
  .navbar-btn{
    display: none;
  }
  .navbar-logo{
    display: flex;
  }
  .navbar__nav--icons{
    margin: 0;
  }
  .navbar__nav--contacts{
    border-right: 0;
  }
  .navbar__nav--icons .navbar-cart{
    display: none;
  }
  .categories-card:nth-of-type(1n + 1) .categories-card__link p{
    top: 0;
    bottom: auto;
  }
  .categories-card:nth-of-type(1n + 9) .categories-card__link p{
    top: auto;
    bottom: 0;
  }
  .row.categories__content{
    --bs-gutter-x: 10px
  }
  .categories__content{
    row-gap: 10px;
  }
  .content__text{
    height: 300px;
    overflow: hidden;
  }
  .footer,
  .footer-box:nth-of-type(2){
    border: none;
  }
  .footer-box__phone,
  .footer-box__adres{
    margin: 0;
  }
  .footer-box:nth-of-type(2){
    padding-bottom: 20px;
  }
  .footer-box:nth-of-type(3){
    padding-bottom: 90px;
  }
  .footer-box__contacts p{
    text-align: center;
  }
  .footer-box__contacts{
    width: 90%;
  }
}
@media (max-width: 575.9px) {
  .products__filter{
    width: 100%;
  }
  .products__filter--toggle p{
    border-bottom: 0;
    font-size: 24px;
    line-height: 30px;
  }
  .products__filter--toggle span{
    font-size: 0;
    position: relative;
    width: 18px;
    height: 3px;
    border-radius: 3px;
    background: var(--orange);
    display: flex;
    margin-right: 21px;
  }
  .products__filter--toggle span::before,
  .products__filter--toggle span::after{
    width: 24px;
    height: 3px;
    border-radius: 3px;
    background: var(--orange);
    position: absolute;
    content: '';
  }
  .products__filter--toggle span::before{top: -8px;}
  .products__filter--toggle span::after{bottom: -8px;}
  .products__items{
    row-gap: 10px;
  }
  .products__items .product{
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .products__items .product__img{
    width: 35%;
    height: 100px;
    padding: 10px;
  }
  .products__items .product__content{
    width: 65%;
  }
  .products__items .product__price{
    padding: 5px;
  }
  .products{
    padding-bottom: 40px;
  }
  .single__content--text h2{
    font-size: 24px;
    line-height: 30px;
  }
  .single__content--btn{
    min-width: 150px;
  }
}
@media (max-width: 480px) {
  .navbar-phone h3,
  .navbar__nav--contacts .phone,
  .navbar__nav--contacts .time{
    font-size: 12px;
    line-height: 12px;
  }
  .navbar__nav--contacts{
    padding: 7px;
  }
  .menu__logo{
    padding: 0 21px 10px;
  }
  .menu__logo img{
    width: 70px;
  }
  .categories-card__link{
    height: 150px;
  }
  
}
@media (max-width: 320px) {}
